<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project Template</title>
    <script src="prof_leaderboard_script.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <template>
      <div class="card">
        <div class="container">
          <h4>Placeholder</h4>
          <h4>Placeholder</p>
        </div>
      </div>
    </template>
  </body>
</html>