{{> message}}
<h1>Welcome to the Discover Page</h1>
<p>Explore and search through many different projects to find what fits best for you</p>
<div id="containter">
    {{> project_card}}
</div>

    
  <!--  
 <table>
  <tbody>
   <tr>
    <td></td>
   </tr>
   <tr>
    <td>Row 2, Cell 1</td>
   </tr>
   <tr>
    <td>Row 3, Cell 1</td>
   </tr>
  </tbody>
 </table>
</div>
-->