{{> message}}

<h1>Welcome!</h1>
<table>
    <tr>
        <td>Username: {{username}}</td>
    </tr>
</table>
<form action="/user_projects" method="POST">
    <input type="hidden" value={{username}} name="username"><br><br>
    <button type="submit">My Projects</button><br><br>
</form>