{{> message}}

<h1>Login</h1>
<form action="/login" method="POST">
    <label for="username">Username</label><br>
    <input type="username" name="username"><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"><br><br>
    <button type="submit">Login</button><br><br>
</form>
<form action="/register" method="GET">
    <button type="submit">register for an account</button><br><br>
</form>