<main>
    <div class="container">
        <form method="post" action="/login">
            <h1>Login</h1>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" />

            <button type="submit">Login</button>
            <a class="nav-link" href="/register">Click HERE register.</a>

        </form>
    </div>
</main>