{{> nav}}
<h1> Majors Page </h1>
<h5>View projects by major</h5>
<form>
    <input type="checkbox" name="BS_maj" value=".BS_maj">
    <label for="BS_maj">Bachelor of Science(BS)</label>
    <input type="checkbox" name="BA_maj" value=".BA_maj">
    <label for="BA_maj">Bachelor of Arts(BA)</label>
    <input type="checkbox" name="BFA_maj" value=".BFA_maj">
    <label for="BFA_maj">Bachelor of Fine Arts(BFA)</label>
    <input type="checkbox" name="BE_maj" value=".BE_maj">
    <label for="BE_maj">Bachelor of Environmental Design(BEnvD)</label>
    <input type="checkbox" name="BAM_maj" value=".BAM_maj">
    <label for="BAM_maj">Bachelor of Music (BMus)</label>
</form>
<h1>Programs A-Z</h1>
<ul>
    <li class="BS_maj">Aesrospace Engineering Sciences - Bachelor of Science (BSAE)</li>
    <li class="BA_maj">Anthropology - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Applied Computer Science - Post-Baccalaureate Bachelor of Science (BSACS)</li>
    <li class="BS_maj">Applied Mathematics - Bachelor of Science</li>
    <li class="BS_maj">Architectural Engineering - Bachelor of Science (BSARE)</li>
    <li class="BA_maj">Art History - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Art Practices - Bachelor of Arts (BA)</li>
    <li class="BFA_maj">Art Practices - Bachelor of Fine Arts (BFA)</li>
    <li class="BA_maj">Asian Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Astrophysical and Planetary Sciences - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Atmospheric and Oceanic Sciences - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Biochemistry - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Biological Engineering - Bachelor of Science (BSCB)</li>
    <li class="BS_maj">Biomedical Engineering - Bachelor of Science (BSBM)</li>
    <li class="BS_maj">Business Administration - Bachelor of Science (BS)</li>
    <li class="BS_maj">Chemical Engineering - Bachelor of Science (BSCHE)</li>
    <li class="BA_maj">Chemistry - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Chinese - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Cinema Studies - Bachelor of Arts (BA)</li>
    <li class="BFA_maj">Cinema Studies and Moving Image Arts - Bachelor of Fine Arts (BFA)</li>
    <li class="BS_maj">Civil Engineering - Bachelor of Science (BSCV)</li>
    <li class="BA_maj">Classics - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Communication - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Computer Science - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Computer Science - Bachelor of Science (BSCS)</li>
    <li class="BS_maj">Creative Technology and Design - Bachelor of Science (BSCTD)</li>
    <li class="BA_maj">Dance - Bachelor of Arts (BA)</li>
    <li class="BFA_maj">Dance - Bachelor of Fine Arts (BFA)</li>
    <li class="BA_maj">Ecology and Evolutionary Biology - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Economics - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Education Studies - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Electrical and Computer Engineering - Bachelor of Science (BSEC)</li>
    <li class="BA_maj">Elementary Education - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Engineering Physics - Bachelor of Science (BSEP)</li>
    <li class="BA_maj">English - Bachelor of Arts (BA)</li>
    <li class="BE_maj">Environmental Design - Bachelor of Environmental Design (BEnvD)</li>
    <li class="BS_maj">Environmental Engineering - Bachelor of Science (BSEV)</li>
    <li class="BA_maj">Environmental Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Ethnic Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">French - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Geography - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Geology - Bachelor of Arts (BA)</li>
    <li class="BA_maj">German Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">History - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Humanities - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Information Science - Bachelor of Science (BS)</li>
    <li class="BS_maj">Integrated Design Engineering - Bachelor of Science (BSIDE)</li>
    <li class="BA_maj">Integrative - Physiology - Bachelor of Arts</li>
    <li class="BA_maj">International Affairs - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Italian - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Japanese - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Jewish Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Journalism - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Leadership and Community Engagement - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Linguistics - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Mathematics - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Mechanical Engineering - Bachelor of Science (BSME)</li>
    <li class="BA_maj">Media Production - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Media Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Middle and High School Teaching - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Molecular, Cellular and Developmental Biology - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Music - Bachelor of Arts in Music (BAMus)</li>
    <li class="BAM_maj">Music - Bachelor of Music (BMus)</li>
    <li class="BAM_maj">Music Education - Bachelor of Music Education (BMusEd)</li>
    <li class="BA_maj">Neuroscience - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Philosophy - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Physics - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Political Science - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Psychology - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Religious Studies - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Sociology - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Spanish - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Speech, Language and Hearing Sciences - Bachelor of Arts (BA)</li>
    <li class="BA_maj">Statistics and Data Science - Bachelor of Arts (BA)</li>
    <li class="BS_maj">Strategic Communication - Bachelor of Science (BS)</li>
    <li class="BA_maj">Theatre - Bachelor of Arts (BA)</li>
    <li class="BFA_maj">Theatre - Bachelor of Fine Arts (BFA)</li>
    <li class="BA_maj">Women and Gender Studies - Bachelor of Arts (BA)</li>
</ul>