{{> message}}

<main>
    <div class="container">
        <form method="post" action="/register">
            <h1>Register</h1>
            <p>Do not include numbers in username.</p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" />

            <button type="submit">Register</button>
            <a class="nav-link" href="/login">Click HERE for login.</a>

        </form>
    </div>
</main>